* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

body {
    font-family: 'Aclonica', sans-serif;
    padding: 10px;
}

h1 {
    text-align: center;
    margin: 20px;
}

.title-chicken {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-beef {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-shushi {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-toggler:hover {
    background-color: gray;
}

.Pekiin{
    background-image: url("../assets/photo_2021-05-20_21-30-32.jpg");
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.Pekiin:hover {
    opacity: 50%;
}

.Pekiin:hover>.txt{
    font-size: 1.2em;
}