* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

body {
    font-family: 'Aclonica', sans-serif;
    padding: 10px;
}

h1 {
    text-align: center;
    margin: 20px;
}

.title-section {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-toggler:hover {
    background-color: gray;
}

.img-btn {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.img-btn:hover {
    opacity: 50%;
}

.img-btn>.txt{
    background-color: white;
    border-radius: 5%;
    opacity: 80%;
    width: 100%;
}
.img-btn:hover>.txt {
    font-size: 1.2em;
}

.Haifa {
    background-image: url("../assets/Haifa.jpg");
}

.Herzliya {
    background-image: url("../assets/Herzliya.jpg");
}

.Tel-Aviv {
    background-image: url("../assets/Tel-Aviv.jpg");
}