* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 202, 176);
}

.card {
    height: 370px;
    width: 400px;
    background-image: url('../assets/photo_2021-05-20_21-30-32.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.my-sub {
    font-family: 'Lucida Handwriting';
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #e26849;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #e26849;
    color: rgb(250, 189, 161);
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn {
    color: white;
    background-color: #e26849;
    width: 100px;
}

.login_btn:hover {
    opacity: 50%;
    background-color: white;
}

.form-group{
    margin-bottom: 20px;
}

.form-control{
    opacity: 50%;
}

.form-control:focus{
    opacity: 75%;
}

.input-group-prepend{
    display: flex;
    align-content: center;
    align-items: center;
}
.material-icons{
    padding: 20%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.login_btn{
    margin-top: 20px;
}