* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 202, 176);
}

.card {
    height: 370px;
    width: 400px;
    background-image: url('../assets/photo_2021-05-20_21-30-32.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.my-sub {
    font-family: 'Lucida Handwriting';
}

.card-header h3 {
    color: white;
}

.login_btn {
    color: white;
    background-color: #e26849;
    padding: 5px 20px 5px 20px;
}

.login_btn:hover {
    opacity: 50%;
    background-color: white;
}

.form-group{
    margin-bottom: 20px;
}

.form-control{
    opacity: 50%;
}

.form-control:focus{
    opacity: 75%;
    box-shadow: 0 0 0 0;
}

.input-group-prepend{
    display: flex;
    align-content: center;
    align-items: center;
}

.input-group-prepend span{
    padding: 6px;
    background-color: #e26849;
    color: rgb(250, 189, 161);
    text-align: center;
    height: 100%;
    width: 100%;
}

.login_btn{
    margin-top: 20px;
}